# See http://help.github.com/ignore-files/ for more about ignoring files.

# WR__
# Emacs tilde
*~

# AWS Elastic Beanstalk (EB)
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_nodejs_express.html
.elasticbeanstalk/

# ENVIRONMENT Variables for app:
/src/environments

# compiled output
/dist
/tmp

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json

# IDEs and editors
/.idea

# misc
npm-debug.log

# System Files
.DS_Store
Thumbs.db
